name: Patch Workflow

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up environment variables
      run: echo "PATCHVBMETAFLAG=true" >> $GITHUB_ENV
      shell: bash

    - name: Load config variables
      id: config
      run: |
        cat config.env | xargs -n1 | while read line; do
          echo "Setting $line"
          echo "$line" >>$GITHUB_ENV
        done
      shell: bash

    # 获取bmax121/kernelpatch仓库的最新tag标签
    - name: Get latest tag from bmax121/kernelpatch
      id: latest_tag_kernelpatch
      run: |
        curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo gpg --dearmor -o /usr/share/keyrings/github-cli-archive-keyring.gpg
        echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/github-cli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
        sudo apt update
        sudo apt install gh
        gh repo view bmax121/kernelpatch --json tagName -q '.tagName' > latest_tag.txt
        echo "::set-output name=tag::$(cat latest_tag.txt)"
      shell: bash

    # 使用获取到的最新tag来设置下载链接
    - name: Set download URLs with latest tag from bmax121/kernelpatch
      run: |
        echo "KP_TOOLS_URL=https://github.com/bmax121/KernelPatch/releases/download/${{ steps.latest_tag_kernelpatch.outputs.tag }}/kptools-linux" >>$GITHUB_ENV
        echo "KP_IMG_URL=https://github.com/bmax121/KernelPatch/releases/download/${{ steps.latest_tag_kernelpatch.outputs.tag }}/kpimg-android" >>$GITHUB_ENV
      shell: bash

    - name: Download files
      run: |
        wget -O magiskboot $MAGISKBOOT_URL
        wget -O kpimg-android $KP_IMG_URL
        wget -O kptools-linux $KP_TOOLS_URL
        wget -O boot.img $BOOT_URL
        chmod +x magiskboot kptools-linux
      shell: bash

    - name: Rename files
      run: |
        mv kptools-linux kptools
        mv kpimg-android kpimg
        chmod +x magiskboot kptools
      shell: bash

    - name: Patch commands
      run: |
        ./magiskboot unpack boot.img
        mv kernel kernel.ori
        ./kptools -p -i kernel.ori -k kpimg -s $SKEY -o kernel
        ./magiskboot repack boot.img
      shell: bash

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: new-boot.img
        path: new-boot.img
        retention-days: 1
